footer {
  padding: 32px;
  background-color: #0a141e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-img{
  height: 40px;
 

}

.social-media {
  width: 20%;
 
}

.social-media img {
  height: 40px;

}
