<footer>
  <a href="#top"><img src="assets/img/sakura_ramen_logo_and_text.svg" /></a>
  <div class="footer-img"></div>
  <div id="about"></div>
  <div class="social-media">
    <a href="https://www.tripadvisor.de/">
      <img src="assets/img/tripadvisor_logo.png" />
    </a>
    <a
      href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjY3NG5voWDAxVLRisKHWTUCQEYABAAGgJzZg&ase=2&gclid=Cj0KCQiA4NWrBhD-ARIsAFCKwWsoJLstQq8p64LdsgHhL92wLbLzdiR5YARWW0dzz8cx6G0dbDZzbsgaAs4kEALw_wcB&ei=8gF2ZaeWBbeTwPAPgIyZ-A0&ohost=www.google.com&cid=CAESVeD2juA8--WyET8hc5SVxq1nKcZ-iCFGkjjFXngZ7NwBuCnAa4-GCeVv0ZlfJmZTiW-x1LMV_Pb91_4kbjjeB0t6JLSTnSjmfO_jcUExWr4c1o9Q3is&sig=AOD64_3U-qWdfroHOJekNkP_ue7elETj8g&q&sqi=2&nis=4&adurl&ved=2ahUKEwin18C5voWDAxW3CRAIHQBGBt8Q0Qx6BAgMEAE">
      <img src="assets/img/facebook_logo.png" />
    </a>
    <a
      href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjIk-PdvoWDAxV6kmgJHWi1C54YABAAGgJ3Zg&ase=2&gclid=Cj0KCQiA4NWrBhD-ARIsAFCKwWtkxrGzHrEblRa-UgLzsFQaI_GrtfTZ_TmIccHzvKCvkfeys9hcNPMaAvEtEALw_wcB&ohost=www.google.com&cid=CAESVeD2ZYJx77z0db8DmfhSj48jYuVtP50Czhl2aP6g0HW5LgVeeS1byPxkQKoBgzC5riPCmfJW9QqKapL6_qYAPKs5kXD8fTC1OUvIxypxkrCENHfDfSg&sig=AOD64_0RoQ6v5fQ3g_JHDgZMi8fhoxZIOQ&q&nis=4&adurl&ved=2ahUKEwjk-NzdvoWDAxXcVvEDHacpDCEQ0Qx6BAgPEAE">
      <img src="assets/img/instagram_logo.png" />
    </a>

  </div>
  <a href="imprint">Imprint</a>
</footer>