 <button routerLink="/" class="back-btn">
    <img src="assets/img/arrow-left.png" alt="back">
    <p> Go back </p>
  </button>
<section class="imprint-section">
 
  <h2>Impressum</h2>
  <p>
    Sakura Ramen<br>
    Musterstraße 1<br>
    87345 Musterstadt<br>
    Deutschland
  </p>
  <p>
    Telefon: 01234 / 567890<br>
    E-Mail: <a href="mailto:info@sakuraramen.de">infosakuraramen.de</a>
  </p>
  <p>
    Vertreten durch: Max Webling
  </p>
  <p>
    Umsatzsteuer-ID: DE123456789
  </p>
  <p>
    Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br>
    Ströbl Gabriela-Diana, Adresse wie oben
  </p>
</section>