<header>
    <img src="assets/img/sakura_logo.png" alt="Sakura Logo" class="logo">
    <nav>
        <ul>
            <li><a href="#menu">MENU</a></li>
            <li><a href="#location">LOCATION</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li>
                <a class="phone_btn" href="">
                    <img src="assets/img/phone.png" alt="">
                    <span class="tel-box">0176 436478</span>
                </a>
            </li>
        </ul>
    </nav>
</header>