
@import'./../../../../styles.scss';

@mixin borderStyling($bStyle){
    border-radius: 8px;
   border:3px $bStyle white;
 }

@mixin fontColor($color) {
     color: $color;
}


header {
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  ul {
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: flex;
      align-items: center;
    }
  }
  > img {
    width: 64px;
    height: 64px;
  }
  > nav {
    width: 64%;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  a {
    text-decoration: none;
    @include fontColor(white);
    font-size: $a-fontsize;
    
    &:hover {
      color: #c22e2e;
    }

    &:hover {
      color: #c22e2e;
    }
  }

  .phone_btn {
    background-color: #c22e2e;
    @include borderStyling(dotted);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
    border-radius: 10px;
    cursor: pointer;
    padding: 4px 12px;
    text-decoration: none;

    > img {
      width: 24px;
      height: 24px;
    }
    > .tel-box {
      color: beige;
      font-size: 1rem;
      text-decoration: none;
      &:hover {
        color: #161515;
      }
    }
  }
}
